.nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #ffff;
  height: 100px;
}

.nav-ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  cursor: pointer;
}

.menu {
  font-size: 15px;
  font-weight: 800;
  color: #ffff;
  text-decoration: none;
}

.menu:hover {
  text-decoration: underline;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-div-btn {
  width: 10%;
  height: 30px;
  box-shadow: 0 1px 0 rgb(191, 191, 191);
  text-align: left;
}

.nav-btn {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

.nav-logo {
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
}

.nav-div-icon {
  cursor: pointer;
  padding: 0px 10px;
}

.nav-icon {
  padding: 10px 5px;
}
